.navigation {
    background-color: #dedede;
    color: #123c69;
    border-bottom: 3px solid #123c69;
    padding: 0.8rem;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation ul li:last-child {
    margin: 0;
}
